.DS_Store

node_modules
dist
*.log
logs
*.lock
*.pid
*.seed
*.pid.lock
*.env
.env.testing
.env.backup
.env.*.local
phpunit.xml
*.d.ts
*.js
*.jsx
*.map
*.tsbuildinfo
*.eslintcache
*.stylelintcache
*.prettiercache
*.vscode
*.idea
*.cache
*.tmp
*.swp
*.swo
*.swn
*.bkp
*.bk
*.orig
*.rej
*.aux
*.log
*.out
*.toc
*.ind
*.idx
*.ilg
*.blg
*.bbl
*.run.xml
*.orig
*.rej
*.swo
*.swp
*.un~
*.vi
*.vim
*.viminfo